//- /*---------- Mixin Services Item ----------*/
mixin servicesItem(image, alt, title, desc)
  li.services-item
    img.services-item-image(src= image, alt= alt)
    h3.services-item-title= title
    p.services-item-desc= desc

//- /*---------- Mixin Destinations Item ----------*/
mixin destinationsItem(image, alt, sites, prices, days)
  li.destinations-item
    .destinations-item-image
      img(src= image, alt= alt)
    .destinations-item-content
      .destinations-content-top
        span.destinations-sites= sites
        span.destinations-prices= prices
      .destinations-content-date
        img.destinations-location(src="../../images/location-arrow.svg", alt="location-arrow")
        span.destinations-days= days